/* src/styles/global.css */
@import "tailwindcss";

@theme {
  --color-brand-background: #e8e2d1;
  --color-brand-text: #000;
  
  --font-family-sans: "Arial Narrow", Arial, sans-serif;

  --breakpoint-md: 992px;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-brand-background text-brand-text font-sans;
  }
}

@layer components {
  .section-divider {
    @apply border-t border-black mt-12 pt-12;
  }
}
