<section class="mt-12" id="about">
  <div class="grid md:grid-cols-2 gap-8 items-center">
    <div class="text-center md:text-left">
      <h1 class="text-4xl font-bold mb-4 uppercase">A Home for the Unbound</h1>
      <div class="text-lg space-y-4 text-justify">
        <p>
          The Malaysian cybersecurity scene has stagnated. cLc is Malaysia's first and only non-profit community dedicated to hardware and human-factor security, founded not out of ego, but out of an unyielding devotion to breaking things, understanding how they work, and fixing systemic issues in our local ecosystem.
        </p>
        <p>
          We provide a free, open, and ethical sanctuary for the relentlessly curious. Our activities, research, and discussions are organized around a wide range of specialized domains, from embedded systems and physical intrusion to social engineering and anti-scam operations.
        </p>
      </div>
    </div>
    <div>
      <img src="/clc-logo.webp" alt="Cult of the LOLCOW Logo" class="w-full" />
    </div>
  </div>
</section>
