<section class="mt-12 section-divider text-center" id="contacts">
  <h6 class="text-5xl font-bold uppercase">Contact</h6>
  <div class="grid md:grid-cols-2 gap-8 items-center mt-8">
      <div class="text-2xl font-bold uppercase">
          <p>Cult of the LOLCOW</p>
          <p>Kuala Lumpur, Malaysia</p>
      </div>
      <div>
          <a href="mailto:gabe@behelitsystems.com" class="text-2xl font-bold uppercase hover:underline">hello@cultlolcow.com</a>
          <div class="flex justify-center gap-4 mt-4">
              <a href="#" class="text-2xl font-bold border border-black rounded-full w-24 h-12 flex items-center justify-center hover:bg-black hover:text-brand-background transition-colors">YT</a>
              <a href="#" class="text-2xl font-bold border border-black rounded-full w-24 h-12 flex items-center justify-center hover:bg-black hover:text-brand-background transition-colors">DC</a>
          </div>
      </div>
  </div>
</section>