<section class="mt-12 section-divider text-center" id="sponsorship">
  <div class="border border-black py-8">
      <h6 class="text-5xl font-bold uppercase">Sponsorship & Support</h6>
      <div class="text-lg mt-4 max-w-4xl mx-auto text-justify space-y-4">
        <p>
            As a non-profit, our focus is on sustainability, not profit. Our community thrives through the generous support of our sponsors and members. We offer opportunities for corporate event sponsorship and accept voluntary community donations to fund special projects and our "Pay it Forward" program, which provides tools and resources to underprivileged individuals.
        </p>
      </div>
      <div class="text-[10vw] md:text-8xl font-bold transform -skew-y-6 my-4">RM 25,000</div>
       <p class="text-lg uppercase font-bold">Total Estimated Annual Budget</p>
  </div>
</section>