---
import BaseLayout from '@layouts/Layout.astro';
---

<BaseLayout title="404: Not Found">
  <div class="section-padding flex flex-col items-center justify-center text-center">
    <h1 class="text-9xl text-red-500">404</h1>
    <h2 class="mt-4 mb-8">SYSTEM ERROR: PAGE NOT FOUND</h2>
    <a href="/" class="btn btn-red">RETURN TO HOME BASE</a>
  </div>
</BaseLayout>
