<div class="section-indent">
    <div class="section">
       <img src="/logo_full.svg" alt="Cult of the LOLCOW" class="logo-full">
    </div>
    <div class="section">
       <div class="patternlines">
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
           <div class="patternline"></div>
       </div>
    </div>
</div>

<style>
.section-indent {
    margin-top: 50px;
}
.section-indent:first-child {
    margin-top: 0;
}
.section {
    margin-bottom: 2rem;
}
.logo-full {
    display: block;
    width: 100%;
    height: auto;
}
.patternline {
    background: currentColor;
}
.patternline:nth-child(1) { height: 28px; margin-bottom: 1px; }
.patternline:nth-child(2), .patternline:nth-child(3) { height: 8px; margin-bottom: 1px; }
.patternline:nth-child(4) { height: 8px; margin-bottom: 2px; }
.patternline:nth-child(5), .patternline:nth-child(6) { height: 7px; margin-bottom: 2px; }
.patternline:nth-child(7) { height: 7px; margin-bottom: 3px; }
.patternline:nth-child(8), .patternline:nth-child(9) { height: 6px; margin-bottom: 3px; }
.patternline:nth-child(10), .patternline:nth-child(11), .patternline:nth-child(12) { height: 5px; margin-bottom: 3px; }
.patternline:nth-child(13), .patternline:nth-child(14), .patternline:nth-child(15) { height: 4px; margin-bottom: 4px; }
.patternline:nth-child(16), .patternline:nth-child(17), .patternline:nth-child(18) { height: 3px; margin-bottom: 4px; }
.patternline:nth-child(19), .patternline:nth-child(20) { height: 2px; margin-bottom: 5px; }
</style>