---
const marqueeText = "SCI-FI RESET PROJECT BY ‘SISTEMA’ CHARITABLE FOUNDATION";
---
<div class="bg-black text-brand-background p-2.5 overflow-hidden text-2xl uppercase whitespace-nowrap">
    <div class="animate-marquee flex">
        <span class="mx-6 flex-shrink-0">{marqueeText}</span>
        <span class="mx-6 flex-shrink-0">{marqueeText}</span>
        <span class="mx-6 flex-shrink-0">{marqueeText}</span>
        <span class="mx-6 flex-shrink-0">{marqueeText}</span>
    </div>
</div>