---
const marqueeText = "A HOME FOR THE UNBOUND - POWERED BY BEHELIT SYSTEMS - ETHICAL HACKING SANCTUARY";
---
<div class="spotrun">
    <div class="spotrun__frame">
        <div class="spotrun__content">
            <div class="spotrun__item">{marqueeText}</div>
            <div class="spotrun__item">{marqueeText}</div>
            <div class="spotrun__item">{marqueeText}</div>
            <div class="spotrun__item">{marqueeText}</div>
        </div>
    </div>
</div>

<style is:global>
@keyframes marquee-animation {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
</style>

<style>
.spotrun {
  background: #000;
  color: #e8e2d1;
  padding: 9px 0;
  overflow: hidden;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  white-space: nowrap;
}
.spotrun__frame {
  overflow: hidden;
  display: flex;
}
.spotrun__content {
  display: flex;
  animation: marquee-animation 40s linear infinite;
}
.spotrun__content:hover {
  animation-play-state: paused;
}
.spotrun__item {
  margin-left: 46px;
  flex-shrink: 0;
}
</style>