<div class="flex flex-col">
    <div class="bg-black h-[28px] mb-[1px]"></div>
    <div class="bg-black h-[8px] mb-[1px]"></div>
    <div class="bg-black h-[8px] mb-[1px]"></div>
    <div class="bg-black h-[8px] mb-[2px]"></div>
    <div class="bg-black h-[7px] mb-[2px]"></div>
    <div class="bg-black h-[7px] mb-[2px]"></div>
    <div class="bg-black h-[7px] mb-[3px]"></div>
    <div class="bg-black h-[6px] mb-[3px]"></div>
    <div class="bg-black h-[6px] mb-[3px]"></div>
    <div class="bg-black h-[5px] mb-[3px]"></div>
    <div class="bg-black h-[5px] mb-[3px]"></div>
    <div class="bg-black h-[5px] mb-[4px]"></div>
    <div class="bg-black h-[4px] mb-[4px]"></div>
    <div class="bg-black h-[4px] mb-[4px]"></div>
    <div class="bg-black h-[4px] mb-[5px]"></div>
    <div class="bg-black h-[3px] mb-[6px]"></div>
    <div class="bg-black h-[3px] mb-[7px]"></div>
    <div class="bg-black h-[2px] mb-[7px]"></div>
    <div class="bg-black h-[2px]"></div>
</div>
