<div class="border border-black md:flex">
    <a href="#about" class="block md:w-1/3 p-5 text-center uppercase font-bold hover:bg-black hover:text-brand-background transition-colors">About</a>
    <a href="#programs" class="block md:w-1/3 p-5 text-center uppercase font-bold border-t md:border-t-0 md:border-l border-black hover:bg-black hover:text-brand-background transition-colors">Programs</a>
    <a href="#sponsorship" class="block md:w-1/3 p-5 text-center uppercase font-bold border-t md:border-t-0 md:border-l border-black hover:bg-black hover:text-brand-background transition-colors">Sponsorship</a>
</div>
